body {
  background-color: #000000;
}
.map {
  height: 100%;
}
.title, .instructions{
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto Mono',monospace;
}
.container {
  text-align: left;
  padding: 40px;
  height: 100vh;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}
